---
import { getCollection } from "astro:content";
import SmallCard from "./SmallCard.astro";
interface Props {
  title?: string;
  tag?: string;
}

const { title = "Últimos posts", tag } = Astro.props;

const transition = title == "Últimos posts" ? true : false;

const posts =
  tag == null
    ? (await getCollection("posts")).sort(
        (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
      )
    : (
        await getCollection("posts", ({ data }) => {
          return data.tags.includes(tag) === true;
        })
      ).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<div
  class="m-auto w-[700px] max-w-full pb-4 md:pb-16 md:pt-5 px-5 mb-10"
  id="blog"
>
  <h2 class="text-2xl md:text-3xl lg:text-3xl font-extrabold animate">
    {title}
  </h2>
  <div class="flex flex-col m-auto px-4 mt-6 gap-y-3 group">
    {
      posts.map((post) => (
        <SmallCard
          title={post.data.title}
          description={post.data.description}
          href={`/posts/${post.slug}`}
          date={post.data.date}
          transition={transition}
        />
      ))
    }
  </div>
</div>
