---
interface Props {
	title: string;
	description: string;
	image?: string;
}
import SpeedInsights from "@vercel/speed-insights/astro";
const { title, description, image = "/images/screenshot.png" } = Astro.props;
import "@fontsource-variable/inter";
import NavBar from "../components/NavBar.astro";
import Busqueda from "../components/Busqueda.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL(image, Astro.url)} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={new URL(image, Astro.url)} />

		<link href="/apuntes/pagefind/pagefind-ui.css" rel="stylesheet" />
		<script src="/apuntes/pagefind/pagefind-ui.js" is:inline></script>
		<title>{title}</title>
		<!-- <ViewTransitions transition:persist/> -->
	</head>
	<body>
		<div class="min-h-[calc(100vh-5rem)]">
			<NavBar />

			<div>
				<slot />
			</div>
		</div>
		<Footer />
		<Busqueda />
		<SpeedInsights />
		<style is:global>
			html {
				font-family: "Inter Variable", sans-serif;
				scroll-behavior: smooth;
			}
		</style>
	</body>
</html>
